baseURL = 'https://example.org/'
languageCode = 'en-us'
title = 'GrepTips'
theme = 'hugo-xmin'

[params]
  dateFormat = "Jan 2, 2006"

[menu]

  [[menu.main]]
    identifier = "home"
    name = "Home"
    url = "/"
    weight = 1

  [[menu.main]]
    identifier = "about"
    name = "About"
    url = "/about/"
    weight = 2

  [[menu.main]]
    identifier = "blog"
    name = "Articles"
    url = "/posts/"
    weight = 3
