body {
  font-family: "Open Sans", Arial, sans-serif;
  /*font-family: Optima, Candara, Calibri, Arial, sans-serif;*/
  font-size: 110%;

}

code, pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", monospace;
  font-size: 85%;
}
