{{ partial "header.html" . }}
<!--{{ partial "header.html" . }}-->
<div class="article-meta">
    
{{ with .Params.header_image }}
  <img src="{{ . }}" alt="" style="width:100%; height:350px; object-fit:cover;">
{{ end }}

<h2><span class="title">{{ .Title | markdownify }}</span></h1>
{{ with .Params.author }}<h3 class="author">{{ . }}</h2>{{ end }}
{{ if (gt .Params.date 0) }}<h3 class="date">{{ .Date.Format "2006/01/02" }}</h2>{{ end }}
</div>

<main>
{{ .Content }}
</main>

{{ partial "footer.html" . }}
